{% extends 'blog/includes.html' %}
{% block title %}Edit Blogs{% endblock %}
{% block body %}
<style>
  .boximage{
    max-width: 400px;
    max-height: 150px;
  }
  label{
    font-weight: bold;
    font-size: 15px;
    color:black
  }
</style>
<form action="/blog/edit/{{blogData.blog_id}}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label>Blog Category</label>
        {{formSkelton.blog_category}}
    </div>
    <div class="form-group">
      <label>Blog Title</label>
      {{formSkelton.blog_title}}
    </div>
    <div class="form-group">
      <label>Blog Description</label>
      {{formSkelton.blog_desc}}
    </div>
    <div class="form-group col-md-12" style="padding: 0px;">
      <div class="col-md-8" style="padding: 0px;">
        <label>Blog Image</label>
        {{formSkelton.blog_img}}
      </div>      
      <div class="col-md-4">
        <img src="/media/{{blogData.blog_img}}" class="img-thumbanail boximage" alt="No Image Availble">
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Submit</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
</form>

{% endblock %}