{% extends 'blog/includes.html' %}
{% block title %}Edit Blogs{% endblock %}
{% block body %}
<style>
  
</style>

{% for message in messages %}
    <div class="alert alert-dismissible alert-{{ message.tags }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>{{ message }}</h4>
        <!-- <h4>{% if  message.tags == "danger" %}Whoops .!{% else %}Success{% endif %}</h4> -->
    </div>
{% endfor %}

{% if action == "Add" %}
<form action="/blog/add/" method="post" enctype="multipart/form-data" novalidate>
{% else %}
<form action="/blog/edit/{{blogData.blog_id}}" method="post" enctype="multipart/form-data" novalidate>
{% endif %}
    {% csrf_token %}
    <div class="form-group">
        <label>Blog Category</label>
        {{formSkelton.blog_category}}
    </div>
    <div class="form-group">
      <label>Blog Title</label>
      {{formSkelton.blog_title}}
    </div>
    <div class="form-group">
      <label>Blog Description</label>
      {{formSkelton.blog_desc}}
    </div>
    <div class="form-group col-md-12" style="padding: 0px;">
      <div class="col-md-8" style="padding: 0px;">
        <label>Blog Image</label>
        {{formSkelton.blog_img}}
      </div>
      {% if blogData.blog_img %}
      <div class="col-md-4">
        <img src="/media/{{blogData.blog_img}}" class="img-thumbanail boximage" alt="No Image Availble">
      </div>
      {% endif %}
    </div>
    <div class="form-group">
      <a href="/blog" class="btn btn-default">Cancel</a>
      <button type="reset" class="btn btn-default">Reset</button>
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>

{% endblock %}