    {% extends 'blog/includes.html' %}
    {% block title %}Blogs{% endblock %}
    {% block body %}
    <h3>Blog List <small>Total {{count}} Blogs Found</small></h3>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th align="center">#</th>
                <th>Blog Image</th>
                <th>Blog Category</th>
                <th>Blog Title</th>
            </tr>
        </thead>
        <tbody>
            {% if count > 0 %}
            {% for i in blogData %}
            <tr>
                <td style="width:5%" align="center">{{forloop.counter}}</td>
                <td style="width:15%" align="center">
                    <img style="height:100px" alt="No Preview Available" class="img-thumbnail" src="/media/{{i.blog_img}}">
                </td>
                <td style="width:10%"><h5>{{i.blog_category}}</h5></td>
                <td style="width:75%"><a href="/blog/view/{{i.blog_id}}"><h5>{{i.blog_title}}</h5></a></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4" align="center">
                    <h4>No Blogs Added</h4>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% endblock %}
