    {% extends 'blog/includes.html' %}
    {% block title %}Blogs{% endblock %}
    {% block body %}
    <h3>Blog List <a href="add/" class="btn btn-success pull-right">Add Blog</a></h3>
    <hr>
    {% for message in messages %}
        <div class="alert alert-dismissible alert-{{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p>{{ message }}</p>
            <!-- <h4>{% if  message.tags == "danger" %}Whoops .!{% else %}Success{% endif %}</h4> -->
        </div>
    {% endfor %}
    <div id="accordion">
        <h3>Filter Data</h3>
        <form action="">
            <table class="table table-striped">
                <tr>
                    <td>Filter By Title : </td>
                    <td><input name="searchTitle" value="{{ searchTitle|default:'' }}" placeholder="Enter Search Term" type="text" class="form-control"></td>
                    <td>Filter By Category : </td>
                    <td>
                        <select name="searchCat" class="form-control searchCat">
                            <option value="">Select Category</option>
                            {% for cat in catData %}
                            <option value="{{cat.id}}">{{cat}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input class="widget" type="submit" value="Search"></td>
                    <td><a class="widget" href="/blog">Reset</a></td>
                </tr>
            </table>
        </form>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th align="center">#</th>
                <th>Blog Image</th>
                <th>Category</th>
                <th>Blog Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if count > 0 %}
            {% for i in blogData %}
            <tr>
                <td style="width: 3%;" align="center">{{forloop.counter}}</td>
                <td style="width: 15%;" align="center">
                    <img style="height:100px" alt="No Preview Available" class="img-thumbnail" src="/media/{{i.blog_img}}">
                </td>
                <td style="width: 7%;"><h5>{{i.blog_category}}</h5></td>
                <td>
                    <a href="/blog/view/{{i.blog_id}}"><h5>{{i.blog_with_cat}}</h5></a>
                    <p>{{i.blog_desc|truncatechars:300|striptags}}</p>
                </td>
                <td style="width: 12%;">
                    <a data-toggle="tooltip" data-placement="top" title="View Blog" class="btn btn-sm btn-info" href="/blog/view/{{i.blog_id}}"><i class="fa fa-eye"></i></a>
                    <a data-toggle="tooltip" data-placement="top" title="Edit Blog" class="btn btn-sm btn-warning" href="/blog/edit/{{i.blog_id}}"><i class="fa fa-pencil-square-o"></i></a>
                    <a class="remove_blog_{{i.blog_id}}" style="display: none;" href="/blog/remove/{{i.blog_id}}"></a>
                    <button data-toggle="tooltip" data-placement="top" title="Delete Blog" data-id="{{i.blog_id}}" class="btn btn-sm btn-danger removeBlog"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5" align="center">
                    <h4>No Blogs Added</h4>
                </td>
            </tr>
            {% endif %}
            <tfoot>
                <tr>
                    <td colspan="5">
                        <span class="text-muted">Showing <b>{{countCurrent}}</b> out of <b>{{count}}</b> entries</span>
                        {% if blogData.has_previous or blogData.has_next %}
                        <ul class="pagination" style="float: right;margin:0px;padding:0px;">
                            {% if blogData.has_previous %}
                            <li class="page-item"><a href="?page=1">First</a></li>
                                <!-- <li class="page-item"><a href="?page={{ blogData.previous_page_number }}">Previous</a></li> -->
                            {% endif %}
                            {% for page in blogData.paginator.page_range %}
                            {% if blogData.number == page %}
                                <li class="page-item active"><a href="?page={{page}}" class="page-link">{{page}}</a></li>
                            {% else %}
                                <li class="page-item"><a href="?page={{page}}" class="page-link">{{page}}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if blogData.has_next %}
                                <!-- <li class="page-item"><a href="?page={{ blogData.next_page_number }}" class="page-link">Next</a></li> -->
                                <li class="page-item"><a href="?page={{ blogData.paginator.num_pages }}">Last</a></li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </td>
                </tr>
            </tfoot>
        </tbody>
    </table>
    <script>
        $(".removeBlog").click(function(){
            dataId = $(this).data('id')
            Swal.fire({
                icon: 'warning',
                title: 'Are You Sure You Want to Delete ?',
                showCancelButton: true,
                confirmButtonText: 'Yes',
            }).then((result) => {
                if (result.isConfirmed) {
                    $(".remove_blog_" + dataId)[0].click()
                } else {
                    Swal.fire('We\'ve Not removed that', '', 'info')
                }
            })
        })
        {% if searchCat %}
        $(".searchCat").val({{searchCat}})
        {% endif %}
    </script>
{% endblock %}
