{% extends 'blog/includes.html' %}
{% block title %}{{blogData.blog_title}}{% endblock %}
{% block body %}

<div class="blog-section">
    <h3>{{blogData.blog_title}}</h3>
    <p><b>Category :</b> {{blogData.blog_category}} &nbsp;|&nbsp; <b>Written By : </b>{{blogData.user_id.get_full_name}} &nbsp;|&nbsp;<b>Tags :</b> {% for tag in blogTags %}<span class="label label-{{tagClass|random}}">{{tag}}</span>&nbsp;&nbsp;{% endfor %}</p>    
    <hr>
    <img style="width: 100%; max-height:250px" src="/media/{{blogData.blog_img}}" alt="No Preview Available" class="img-thumbnail">
    <!-- {{blogData.blog_desc|safe}} -->
    {% autoescape off %}
    {{blogData.blog_desc}}
    {% endautoescape %}
    <hr>
    <div align="center">
        <a href="/blog/" class="btn btn-default">Back to Home</a>
    </div>
</div>
{% endblock %}