<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'info' %}
            <div class="container alert alert-info alert-dismissible" role="alert">
          {% elif message.tags == 'success' %}
            <div class="container alert alert-success alert-dismissible" role="alert">
          {% elif message.tags == 'error' %}
            <div class="container alert alert-danger alert-dismissible" role="alert">
          {% else %}
            <div class="container alert alert-warning alert-dismissible" role="alert">
          {% endif %}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <center>
                    {{message}}
                </center>
            </div>
        {% endfor %}
    {% endif %}
    <form action="add" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ DestinationForm }}
        <input type="submit" value="Submit">
    </form>
</body>
</html>