{% extends 'home.html' %}
{% block content %}
<!-- Delete Modal HTML -->
<div id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="deleteForm" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">Generic Delete View</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these <strong>{{object}}</strong>?</p>
                    <p class="dangerous"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <a href="/generic_view" class="btn"><span>Cancel</span></a>
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}