
{% extends 'main.html' %}
{% block content%}
  <div class="container">
    <form class="box-form" action="login" method="post">
      {% csrf_token%}
      {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'success' %}
          <center>
            <p class="success-class">{{message}}</p>
          </center>
        {% elif message.tags == 'error' %}
          <center>
            <p class="error-class">{{message}}</p>
          </center>
        {% endif %}
      {% endfor %}
    {% endif %}
      <div class="box-title">
        <h2>Login</h2>
      </div>

      <div class="box-inputs">

        <div class="inputs-email">
          <input type="text" name="username" id="username" class="input username" placeholder="Enter Username" value="{{request.POST.username}}">
          <label for="username" class="label-inputs">Username:</label>
        </div>

        <div class="inputs-password">
          <input type="password" name="password" id="password" class="input" placeholder="Enter Password" value="{{request.POST.password}}">
          <label for="password" class="label-inputs">Password:</label>
        </div>

        <div class="inputs-remember">
          <input type="checkbox" name="remember" id="remember">
          <label for="remember">Remember me</label>
        </div>

        <div class="box-btn-login">
          <button class="btn-login" type="submit" value="enter">Login</button>
        </div>
      </div>

      <div class="box-register">
        <p>Forgot password? <a href="#">Click here!</a></p>
        <p>Don't have an account? <a href="register">Create one!</a></p>
      </div>

    </form>
    <div class="hero">

      <p>Welcome to</p>
      <h1>Employee Management System<h1>
    </div>
  </div>
{% endblock %}
