
{% extends 'main.html' %}
{% block content%}
  <div class="container">
    <form class="box-form" action="register" method="post">
      {% csrf_token%}
        {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'success' %}
            <center>
              <p class="success-class">{{message}}</p>
            </center>
          {% elif message.tags == 'error' %}
            <center>
              <p class="error-class">{{message}}</p>
            </center>
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="box-title">
        <h2>Sign Up</h2>
      </div>

      <div class="box-inputs">

        <div class="inputs-email">
          <input type="text" name="first_name" id="first_name" class="input username" value="{{request.POST.first_name}}" placeholder="First Name">
          <label for="first_name" class="label-inputs">First Name:</label>
        </div>
        <div class="inputs-email">
          <input type="text" name="last_name" id="last_name" class="input username" value="{{request.POST.last_name}}" placeholder="Last Name">
          <label for="last_name" class="label-inputs">Last Name:</label>
        </div>
        <div class="inputs-email">
          <input type="text" name="username" id="username" class="input username" value="{{request.POST.username}}" placeholder="Username">
          <label for="username" class="label-inputs">Username:</label>
        </div>
        <div class="inputs-email">
          <input type="email" name="email" id="email" class="input username"  value="{{request.POST.email}}"  placeholder="Email">
          <label for="email" class="label-inputs">Email:</label>
        </div>
        <div class="inputs-password">
          <input type="password" name="password1" id="password1" class="input username"  value="{{request.POST.password1}}"  placeholder="Password">
          <label for="password1" class="label-inputs">Password:</label>
        </div>
        <div class="inputs-password">
          <input type="password" name="password2" id="password2" class="input username"  value="{{request.POST.password2}}"  placeholder="Confirm Password">
          <label for="password2" class="label-inputs">Confirm Password:</label>
        </div>

        <div class="inputs-remember">
        </div>

        <div class="box-btn-login">
          <button class="btn-login" type="submit" value="enter">Sign Up</button>
        </div>
      </div>

      <div class="box-register">
        <p>Already have an account?<a href="login">Sign In!</a></p>
      </div>

    </form>
    <div class="hero">

      <p>Welcome to</p>
      <h1>Employee Management System<h1>
    </div>
  </div>
{% endblock %}

    <form action="register" method="post">
        {% csrf_token %}
        <div class="container">
            <h1>User Registeration</h1>
            <hr>

            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email">
    </form>
</body>
</html>