<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>
    <link rel = "icon" href ="https://pm.biztechconsultancy.com/assets/img/favicon.ico" type = "image/x-icon">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link  rel="stylesheet" type="text/css"  media="all" href="https://www.appjetty.com/pub/static/frontend/Biztech/Mytheme/en_US/mage/calendar.min.css" />
<link  rel="stylesheet" type="text/css"  media="all" href="https://www.appjetty.com/pub/static/frontend/Biztech/Mytheme/en_US/css/styles-m.min.css" />
<link  rel="stylesheet" type="text/css"  media="all" href="https://www.appjetty.com/pub/static/frontend/Biztech/Mytheme/en_US/Biztech_Customization/css/jquery.bxslider.min.css" />
<link  rel="stylesheet" type="text/css"  media="screen and (min-width: 768px)" href="https://www.appjetty.com/pub/static/frontend/Biztech/Mytheme/en_US/css/styles-l.min.css" />

<link  rel="stylesheet" type="text/css"  media="all" href="https://www.appjetty.com/pub/static/frontend/Biztech/Mytheme/en_US/css/main.min.css" />
<link  rel="stylesheet" type="text/css"  media="all" href="https://www.appjetty.com/pub/static/frontend/Biztech/Mytheme/en_US/css/custom.min.css" />
<link  rel="stylesheet" type="text/css"  media="all" href="https://www.appjetty.com/pub/static/frontend/Biztech/Mytheme/en_US/css/productdetail.min.css" />
<link  rel="stylesheet" type="text/css"  media="all" href="https://www.appjetty.com/pub/static/frontend/Biztech/Mytheme/en_US/css/homepage.min.css" />
<link  rel="stylesheet" type="text/css"  media="all" href="https://www.appjetty.com/pub/static/frontend/Biztech/Mytheme/en_US/css/cmspage.min.css" />
<link  rel="stylesheet" type="text/css"  media="all" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link  rel="stylesheet" type="text/css"  media="all" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="preload" as="font" crossorigin="anonymous" href="https://www.appjetty.com/pub/static/frontend/Biztech/Mytheme/en_US/fonts/opensans/light/opensans-300.woff2" />
<link rel="preload" as="font" crossorigin="anonymous" href="https://www.appjetty.com/pub/static/frontend/Biztech/Mytheme/en_US/fonts/opensans/regular/opensans-400.woff2" />
<link rel="preload" as="font" crossorigin="anonymous" href="https://www.appjetty.com/pub/static/frontend/Biztech/Mytheme/en_US/fonts/opensans/semibold/opensans-600.woff2" />
<link rel="preload" as="font" crossorigin="anonymous" href="https://www.appjetty.com/pub/static/frontend/Biztech/Mytheme/en_US/fonts/opensans/bold/opensans-700.woff2" />
<link rel="preload" as="font" crossorigin="anonymous" href="https://www.appjetty.com/pub/static/frontend/Biztech/Mytheme/en_US/fonts/Luma-Icons.woff2" />
<link  rel="shortcut icon" type="image/x-icon" href="https://www.appjetty.com/pub/media/favicon/default/favicon_1_.png" />
    <style>
    body {
        background: #dedede;
    }
    .page-wrap {
        min-height: 100vh;
    }</style>
</head>
<body style="background:white">
<div class="columns"><div class="column main"><input name="form_key" type="hidden" value="X5YfPQTpexQaFdoK"> <div id="authenticationPopup" data-bind="scope:'authenticationPopup', style: {display: 'none'}" style="display: none;">  <!-- ko template: getTemplate() -->

    <!-- /ko --></div>     <div class="page-404">
    <div class="title-404">Even Detective Sherlock can't find <br>the page you are looking for...</div>
    <div class="img-404"><img src="https://www.appjetty.com/pub/media/wysiwyg/404-image.png" alt=""></div>
    <div class="not-exist">...because it doesn't exist!</div>
    <div class="feeling-lost">Feeling lost? <a href="/" style="color: #ff7a7a;">Click Here</div>
    </div>
    </div></div>

</body>
</html>