{% extends 'home.html' %}
{% load custom_tags %}
{% block content %}
<div class="container-xl">
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'info' %}
        <div class="container alert alert-info alert-dismissible" role="alert">
      {% elif message.tags == 'success' %}
        <div class="container alert alert-success alert-dismissible" role="alert">
      {% elif message.tags == 'error' %}
        <div class="container alert alert-danger alert-dismissible" role="alert">
      {% else %}
        <div class="container alert alert-warning alert-dismissible" role="alert">
      {% endif %}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <center>
                {{message}}
            </center>
        </div>
    {% endfor %}
  {% endif %}
  <div class="table-responsive">
	<div class="table-wrapper">
		<div class="table-title">
			<div class="row">
				<div class="col-sm-6">
					<h2>Manage <b>Users</b></h2>
				</div>
				<div class="col-sm-6">
					<a href="/logout" class="btn btn-info"><i class="material-icons logout"></i><span>Logout</span></a>
					<a href="#addUserModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add User</span></a>
				{% if users %}
					<a data-form="/employee/user_delete/" class="btn btn-danger delete-multiple" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>
				{% endif %}
				</div>
			</div>
		</div>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>
						{% if users %}
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
						{% endif %}
					</th>
					<th>Sr.No.</th>
					<th class="{% url_replace request 'order_by' 'first_name' '-' 'True' %} header-class"><a href="?{% url_replace request 'order_by' 'first_name' '-' %}">Full Name</a></th>
					<th class="{% url_replace request 'order_by' 'username' '-' 'True' %} header-class"><a href="?{% url_replace request 'order_by' 'username' '-' %}">Username</a></th>
					<th class="{% url_replace request 'order_by' 'email' '-' 'True' %} header-class" ><a href="?{% url_replace request 'order_by' 'email' '-' %}">Email</a></th>
					<th class="{% url_replace request 'order_by' 'is_superuser' '-' 'True' %} header-class"><a href="?{% url_replace request 'order_by' 'is_superuser' '-' %}">Super User</a></th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
	  {% if users %}
		{% for user in users %}
		  <tr>
			<td>
				<span class="custom-checkbox">
					<input type="checkbox" id="checkbox{{user.id}}" name="options[]" value="{{user.id}}">
					<label for="checkbox{{user.id}}"></label>
				</span>
			</td>
			<td>{{ forloop.counter0|add:users.start_index}}</td>
			<td>{%if user.get_full_name != ''%}{{user.get_full_name|capfirst}}{% else %} N/A {%endif%}</td>
			<td>{{user.username|lower}}</td>
			<td>{{user.email}}</td>
			<td>{% if user.is_superuser %}<i class="material-icons verified" data-toggle="tooltip" title="Super User"></i>{% else %}<i class="material-icons dangerous" data-toggle="tooltip" title="Normal User"></i>{%endif%}</td>
			<td
			  <a data-form="/employee/edit/{{user.id}}" data-id="{{user.id}}" class="view employee-view" data-toggle="modal"><i class="material-icons view" data-toggle="tooltip" title="View">&#xE417;</i></a>
			  <a data-form="/employee/edit/{{user.id}}" data-id="{{user.id}}" class="edit employee-edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
			  <a href="#deleteModal" data-form="/employee/user_delete/{{user.id}}" class="delete delete-single" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
			</td>
		  </tr>
		{% endfor %}
	  {% else %}
	  <tr align="center">
		<td colspan="9">
		  No records Found!
		</td>
	  </tr>
	  {% endif %}
			</tbody>
		</table>
		<div class="clearfix">
			<div class="hint-text">Showing <b>{{users.start_index}} to {{users.end_index}}</b> of <b>{{totalRecords}}</b> entries</div>
			<div class="pagination">
				<span class="step-links">
					<ul class="pagination">
						{% if users.has_previous or users.has_next %}
							{% if users.has_previous %}
							<li class="page-item"><a href="?page=1&order_by={{order_by}}">First</a></li>
								<li class="page-item"><a href="?page={{ users.previous_page_number }}&order_by={{order_by}}">Previous</a></li>
							{% endif %}
							{% for page in users.adjusted_elided_pages %}
								{% if users.number == page %}
									<li class="page-item active"><a href="?page={{page}}&order_by={{order_by}}" class="page-link">{{page}}</a></li>
								{% elif page == users.paginator.ELLIPSIS %}
									<li class="page-item"><a class="page-link">{{page}}</a></li>
								{% else %}
									<li class="page-item"><a href="?page={{page}}&order_by={{order_by}}" class="page-link">{{page}}</a></li>
								{% endif %}
							{% endfor %}
							{% if users.has_next %}
								<li class="page-item"><a href="?page={{ users.next_page_number }}&order_by={{order_by}}" class="page-link">Next</a></li>
								<li class="page-item"><a href="?page={{ users.paginator.num_pages }}&order_by={{order_by}}">Last</a></li>
							{% endif %}
						{% endif %}
					</ul>
				</span>
			</div>
		</div>
	</div>
</div>
</div>
	{% include 'delete.html' %}
	{% include 'add_user.html' %}
{% endblock %}
