<!-- View Modal HTML -->
<div id="viewUserModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Admin Details</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Username</label>
					<input type="text" id="view-username" name="name" class="form-control" readonly>
				</div>
				<div class="form-group">
					<label>First Name</label>
					<input type="text" id="view-first-name" name="first-name" class="form-control" readonly>
				</div>
				<div class="form-group">
					<label>Last Name</label>
					<input type="text" id="view-last-name" name="last-name" class="form-control" readonly>
				</div>
				<div class="form-group">
					<label>Email</label>
					<input type="email" id="view-email" name="email" class="form-control" readonly>
				</div>
				<div class="form-group">
					<label>User Status</label>
					<input type="text" id="view-status" name="type" class="form-control" readonly>
				</div>
				<div class="form-group">
					<label>User Type</label>
					<input type="text" id="view-type" name="type" class="form-control" readonly>
				</div>
			</div>
			<div class="modal-footer">
				<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
			</div>
        </div>
    </div>
</div>
